@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

img {
  height: 100%;
  animation: fadeIn 100ms;
}

.leftContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  animation: fadeInUp 500ms;
  text-align: center;
}

.email {
  color: #000000;
}

.icons {
  display: flex;
  animation: fadeInUp 500ms;
}

@media only screen and (max-width: 667px) {
  .email {
    white-space: nowrap;
  }
  .leftContainer {
    position: relative;
    top: 30%;
  }
}
