img {
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%;
  margin: 1%;
  box-shadow: 0 4px 1px #00000080;
  animation: fadeIn 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.landingPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.description {
  margin-top: 20px;
  animation: fadeInUp 500ms;
}


.icons {
  display: flex;
  animation: fadeInUp 500ms;
}

a {
  margin: 1%;
}


@media only screen and (max-width: 667px) {

    img {
      max-width: 250px;
      max-height: 250px;
    }
    
    .email {
        white-space: nowrap;
    }

}


