.landingPage {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

img {
  height: 100vh;
  width: 50vw;
  animation: fadeIn 600ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.description {
  margin-top: 20px;
  animation: fadeInUp 600ms;
}

.icons {
  display: flex;
  animation: fadeInUp 600ms;
}

a {
  margin: 1%;
}

@media only screen and (max-width: 667px) {
  img {
    max-width: 250px;
    max-height: 250px;
  }

  .email {
    white-space: nowrap;
  }
}
