.bar {
  font-family: 'Roboto Mono', monospace;
  /* font-size: 30px; */
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navLink {
  font-size: 30px;
  padding: 10%;
}

.navLink:hover {
  text-shadow: 1px 1px 1px black;
}
