.main {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  row-gap: 5%;
}

iframe {
  max-width: 95%;
}

.project {
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(194, 195, 208, 1);
  border-radius: 3px;
  padding: 1%;
  border: black solid;
}

h3 {
  margin: 1%;
}

@media only screen and (max-width: 1200px) {
  .main {
    grid-template-columns: 80%;
  }
}

@media only screen and (max-width: 667px) {
  .main {
    position: absolute;
    top: 25%;
  }

  .project {
    word-break: break-word;
  }
}

@media only screen and (max-width: 374px) {
  .main {
    top: 30%;
  }
}
